
.chat-main
  .chat-main__group
    .chat-main__group--name
      = @group.name
      .chat-main__group--name--member
        Member :
        - @group.users.each do |user|
          = user.name
    .chat-main__group--edit
      = link_to edit_group_path(@group.id), class:"btn-edit" do
        Edit

  .chat-main__message
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__textarea', placeholder: 'type a message'
      .form__inputbox
        = f.label :image, class: 'form__inputbox__image' do
          = icon('fas', 'image', class: 'form__inputbox__icon')
          = f.file_field :image, class: 'form__inputbox__file'
      = f.submit 'Send', class: 'btn-submit'